@model List<Waver_InfoApp.Entities.SmisWaiverInfo>

@{
    ViewData["Title"] = "Home Page";
}

<div class="row col-12">
    <div class="container col-4" style="margin-top:50px">
        <h3>Chose The Excel File To Insert Students Waver</h3><br />
        <form id="Excel-UploadForm" enctype="multipart/form-data" asp-action="Create" asp-controller="SmisWaiverInfoes">
            <input class="form-control" style="width:300px" type="file" name="file" accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel" />
            <br />
            <button type="submit" class="btn btn-success">Insert</button>
        </form>

        <h5 style="color:red">@ViewBag.msg</h5>
    </div>

    <div class="col-3">
        <h3>Format Example</h3>
        <table class="table table-striped table-bordered mt-3">
            <tr>
                <th>  Student_ID  </th>
                <th>  Waiver Percent  </th>
                <th>  Yn  </th>
                <th>  Created By  </th>
                <th>  Created Time  </th>
                <th>  Modified By  </th>
                <th>  Modified Time  </th>
            </tr>
            <tr>
                <td>152-15-000</td>
                <td>15</td>
                <td>Y</td>
                <td>700022</td>
                <td>10/17/2133 0:00:00</td>
                <td>700022</td>
                <td>10/17/2133 0:00:00</td>

            </tr>
        </table>
    </div>


</div>

@if (Model != null)
{
    <h3>These ID do not Exist in Waver info Table or Format is not right</h3>
    <table class="table table-striped table-bordered mt-3 col-6" id="myTable">
        <thead>
            <tr>
                <th>  Student_ID  </th>
                <th>  Waiver Percent  </th>
                <th>  Yn  </th>
                <th>  Created By  </th>
                <th>  Created Time  </th>
                <th>  Modified By  </th>
                <th>  Modified Time  </th>
            </tr>
        </thead>

        <tbody>

            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.StudentId</td>
                    <td>@item.WaiverPercent</td>
                    <td>@item.Yn</td>
                    <td>@item.CreatedBy</td>
                    <td>@item.CreatedTime</td>
                    <td>@item.ModifiedBy</td>
                    <td>@item.ModifiedTime</td>
                </tr>
            }
        </tbody>



    </table>
}

@section Scripts{
    @*<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>*@
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.0/jquery.validate.min.js"></script>
    <script>



        $(document).ready(function () {

            //$("#Search").click(function () {

            //    var ID = $("#StudentID").val();

            //    $.ajax({

            //        url: '/Home/GetStudentByID?ID=' + ID,
            //        type: 'GET',
            //        dataType: 'JSON',
            //        success: function (data) {
            //            //console.log(data);
            //            $.each(data, function (i, obj) {
            //                //console.log(obj);
            //                $("#StudentId").val(obj.studentId)
            //                $("#Email").val(obj.email)


            //            });





            //        },
            //        error: function () {
            //            console.log(error);
            //        }


            //    })


            //});

            $('#myTable').DataTable(
                {
                    dom: 'Bfrtip',
                    buttons: [
                        'copy',
                        'csv',
                        {
                            extend: 'excel',
                            filename: 'EmailUpdate',
                            title: ''
                        },
                        'pdf',
                        'print'
                    ]
                }
            );


            $("#Excel-UploadForm").validate({
                rules: {
                    file: {
                        required: true,

                    },

                    messages: {

                        file: "Please Upload an Excel File"

                    }



                }

            });
        });

    </script>



}





